:root {
    --black: #000000;
    --white: #ffffff;
    --white-on-click: rgba(255, 255, 255, 0.3);
    --brand-blue: #81b3d2;
    --brand-blue-hover: #669ec0;
    --brand-blue-active: #5496bd;
    --brand-brown: #766357;
    --brand-brown-hover: #604e43;
    --brand-brown-active: #503e33;
    --dark-grey: #333333;
    --background-grey: #eeeeee;
    --input-grey: #f2f2f2;
    --input-grey-hover: #ebebeb;
    --input-border-focus: #e5e5e5;
    --range-button-grey: #ababab;
    --rating-grey: #666666;
    --checkbox-disabled: #6a6a6a;
    --active-brown: #766357;
    --footer-background: rgba(255, 255, 255, 0.9);
}


body {
    position: relative;
    margin: 0 auto;
    padding: 0;
    width: 1280px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: var(--black);
    text-align: left;
    font-weight: 700;
    text-transform: uppercase;
    background-color: var(--background-grey);
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
}

.catalog-container {
    width: 1055px;
    margin: 0 72px;
}

.shadow {
    box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

.visually-hidden {
    position: absolute;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.main-header {
    position: relative;
    min-height: 56px;
    background-color: var(--white);
}
  
.main-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    min-height: 120px;
    width: 100%;
}

.inner-footer {
    position: relative;
}

/* Хедер */

.logo {
    position: absolute;
    top: 0;
    left: 531px;
    z-index: 5;
}

.site-navigation {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.site-navigation-item {
    padding: 15px 72px;
}

.site-navigation-item:nth-child(2) {
    margin-right: auto;
}

.site-navigation-item:nth-child(3) {
    margin-left: auto;
}

.nav-link {
    color: var(--black);
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    text-decoration: none;
}

.nav-link:hover {
    color: var(--brand-blue);
    transition: color 0.2s ease-in-out;
}

.nav-link:active {
    color: var(--black);
    opacity: 0.3;
}

.active-page {
    color: var(--active-brown);
}

/* ----------------------------Главная страница---------------------------------- */

/* Промо-блок */

.promo {
    position: relative;
    width: 1200px;
    height: 509px;
    background-image: url("../img/promo.jpg");
    background-color: var(-);
    display: flex;
    justify-content: center;
    align-items: center;
}

.promo::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 1200px;
    height: 57px;
    background-image: url("../img/promo-shape.png");
}

/* Преимущества */

.features {
    padding: 45px 0 0 0;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.features-title {
    margin: 0 0 45px 0;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    max-width: 470px;
}

.features-text {
    margin: 0 0 50px 0;
    line-height: 26px;
    text-align: center;
    font-weight: 400;
    color: var(--dark-grey);
}

.feature-rows,
.advantages,
.service {
    margin: 0;
    padding: 0;
    list-style: none;
}

.feature-row {
    display: flex;
    align-items: stretch;
}

.feature-row-img {
    height: 256px;
}
.advantage {
    padding: 47px 52px 53px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 256px;
    box-sizing: border-box;
}

.advantage-blue {
    background-color: var(--brand-blue);
    color: var(--white)
}

.advantage-grey {
    background-color: var(--background-grey);
}

.advantage-title {
    margin: 0;
    font-size: 21px;
    font-weight: 700;
    text-align: center;
}

.advantage-number {
    margin: auto 0;
    display: block;
    color: var(--white);
    font-weight: 400;
    text-align: center;
}

.advantage-grey .advantage-number {
    color: var(--dark-grey);
}

.advantage-text {
    margin: 0;
    text-align: center;
    font-weight: 400;
}

.service {
    background-color: var(--white);
    display: flex;
    justify-content: stretch;
}

.service-item {
    padding: 160px 72px 82px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 333px;
    box-sizing: border-box;
}

.accomodation::before {
    position: absolute;
    content: "";
    top: 60px;
    left: 166px;
    background-image: url("../img/icon-1.svg");
    width: 75px;
    height: 72px;
}

.cuisine::before {
    position: absolute;
    content: "";
    top: 60px;
    left: 170px;
    background-image: url("../img/icon-3.svg");
    width: 70px;
    height: 70px;
}

.souvenirs::before {
    position: absolute;
    content: "";
    top: 60px;
    left: 155px;
    background-image: url("../img/icon-2.svg");
    width: 64px;
    height: 77px;
}

.service-title {
    margin: 0;
    font-size: 21px;
    font-weight: 700;
    text-align: center;
}

.service-text {
    margin: 15px 0 0 0;
    color: var(--dark-grey);
    text-align: center;
    font-weight: 400;
}

.advantage-grey .advantage-text {
    color: var(--dark-grey);
}

.advantages {
    display: flex;
}

/* Бронирование */

.booking {
    padding-top: 61px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.booking-title {
    margin: 0 0 25px 0;
    font-size: 30px;
    line-height: 24px;
    text-align: center;
    font-weight: 700;
}

.booking-text {
    margin: 0 auto 35px;
    line-height: 24px;
    text-align: center;
    font-weight: 400;
    color: var(--dark-grey);
    max-width: 435px;
}

.booking-button {
    height: 86px;
    width: 568px;
    font-family: "PT Sans", "Arial", sans-serif;
    padding: 0;
    background-color: var(--brand-brown);
    color: var(--white);
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
    border: none;
}

.booking-button:hover {
    background-color: var(--brand-brown-hover);
    transition: 0.2s ease-in-out;
}

.booking-button:active {
    background-color: var(--brand-brown-active);
    color: var(--white-on-click);
}

/* Форма */

.form {
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 315px;
}

.booking-form {
    padding-top: 55px;
    width: 568px;
    min-height: 340px;
    margin: 0 auto;
    background-color: var(--white);
    box-sizing: border-box;
}

.form-wrapper {
    max-width: 458px;
    min-height: 340px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.arrival-wrapper,
.departure-wrapper {
    display: flex;
    align-items: center;
    justify-content: stretch;
    margin-bottom: 30px;
}


.tourists-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-label {
    line-height: 26px;
    font-weight: 700;
    margin-right: 20px;
}

.form-input {
    padding: 0;
    min-height: 38px;
    font-family: "PT Sans", "Arial", sans-serif;
    background-color: var(--input-grey);
    line-height: 26px;
    border: 2px solid var(--input-grey);
    flex-grow: 1;
}

.form-input[placeholder] {
    padding-left: 13px;
    font-size: 14px;
    font-weight: 700;
    color: var(--black);
    text-transform: uppercase;
}

.form-input {
    border-image: none;
}

.tourists-wrapper .form-label {
    margin-right: 0;
}

.tourists-wrapper .form-input {
    max-width: 114px;
}

.tourists-wrapper .form-label:last-child {
    padding-left: 53px;
}

.form-input:hover {
    background-color: var(--input-grey-hover);
    border: 2px solid var(--input-grey-hover);
    transition: 0.2s ease-in-out;
}

.form-input:focus {
    background-color: var(--white);
    border: 2px solid var(--input-border-focus);
    outline: none;
}

.form-button {
    font-family: "PT Sans", "Arial", sans-serif;
    background-color: var(--brand-blue);
    color: var(--white);
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    height: 58px;
    margin: auto 0 55px;
    padding: 0;
}

.form-button:hover {
    background-color: var(--brand-blue-hover);
    transition: 0.2s ease-in-out;
}

.form-button:active {
    background-color: var(--brand-blue-active);
    color: var(--white-on-click);
}

/* Карта */

.map {
    position: relative;
    max-height: 593px;
}

.sedona-map {
    border: none;
}

/* ----------------------------Вторая страница---------------------------------- */

.hotels {
    background-color: var(--white);
}

.underline {
    border-bottom: 1px solid var(--input-border-focus);
}

.filter {
    background-image: url(../img/filter.jpg);
    background-color: var(--brand-blue);
    background-repeat: no-repeat;
    background-size: cover;
}

.catalog-form {
    margin: 0 70px;
    padding: 25px 0 31px;
    display: flex;
}

.filter-fieldset {
    margin-right: 118px;
    padding: 0;
    border: none;
    color: var(--white);
}

.filter-fieldset:last-child {
    margin: 0 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.legend-title {
    padding: 0;
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
}

.filter-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.filter-item {
    margin-top: 23px;
    font-weight: 400;
}

.checkbox {
    margin: 0;
    -webkit-appearance: none;
    appearance: none;
}

.filter-label {
    padding-left: 39px;
    position: relative;
}

/* Чекбокс пустой */

.filter-label::before {
    position: absolute;
    content: "";
    top: -3px;
    left: 0;
    height: 23px;
    width: 23px;
    border: 2px solid var(--white);
    box-sizing: border-box;
    border-radius: 3px;
}

.filter-label::after {
    position: absolute;
    content: "";
    top: -1px;
    left: 6px;
    height: 11px;
    width: 19px;
    box-sizing: border-box;
    border-left: 4px solid var(--white);
    border-bottom: 4px solid var(--white);
    box-shadow: 0 2px 0 0 transparent, inset 0 -2px 0 0 transparent;
    transform: rotate(-45deg);
    display: none;
}

/* Чекбокс активный */

.checkbox:checked + .filter-label::after {
    display: block;
}

/* Чекбокс, наведение */

.filter-label:hover::before {
    border-color: var(--white);
    transition: 0.2s ease-in-out;
}
  
.filter-label:hover::after {
    border-left-color: var(--white);
    border-bottom-color: var(--white);
    transition: 0.2s ease-in-out;
}

/* Чекбокс, заблокирован */

.checkbox:checked:disabled + .filter-label::after {
    display: block;
    background-color: var(--checkbox-disabled);
}
   
.checkbox:disabled + .filter-label::before {
    display: block;
    border-color: var(--checkbox-disabled);
}

.range-cells {
    margin-top: 11px;
    border: 2px solid var(--white);
}

.range-input-1,
.range-input-2 {
    padding: 0;
    width: 156px;
    height: 36px;
    background-color: transparent;
    border: none;
    color: var(--white);
    font-size: 14px;
    line-height: 21px;
    font-family: "PT Sans", "Arial", sans-serif;
    text-align: center;
    text-transform: uppercase;
}

.range-input-1::placeholder,
.range-input-2::placeholder {
    color: var(--white);
    font-size: 14px;
    line-height: 21px;
    font-family: "PT Sans", "Arial", sans-serif;
    text-align: center;
}

.fence {
    font-size: 26px;
    line-height: 26px;
}

.range {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: 316px;
    height: 2px;
    background-color: var(--range-button-grey);
}

.range-between {
    margin: 20px auto 0;
    width: 316px;
    height: 2px;
    background-color: var(--white);
}

.range-button-1,
.range-button-2 {
    padding: 0;
    position: absolute;
    top: 0;
    width: 4px;
    height: 4px;
    cursor: move;
    transform: translateY(-50%);
    background-color: var(--range-button-grey);
    border: 7px solid var(--white);
    box-sizing: content-box;
    border-radius: 50%;
    box-shadow: 0 2px var(--range-button-grey);
}

.filter-submit {
    margin: 23px auto 0;
    padding: 0;
    background-color: transparent;
    border: 2px solid var(--white);
    box-sizing: border-box;
    color: var(--white);
    font-family: "PT Sans", "Arial", sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 21px;
    height: 36px;
    min-width: 137px;
}

.filter-submit:hover {
    background-color: var(--white);
    color: var(--black);
    transition: 0.3s ease-in-out;
}

/* Отели */

.sort-wrap {
    padding: 30px 0;
    display: flex;
    align-items: flex-start;
}

.results {
    margin: 0;
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
    min-width: 163px;
}

.sort {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}

.sort-title {
    padding-top: 4px;
    margin: 0 40px 0 0;
    font-size: 12px;
    line-height: 12px;
}

.sort-list-string,
.sort-list-arrows {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.sort-list-arrows {
    position: relative;
    margin-left: auto;
    width: 40px;
}

.sort-list-arrows .sort-item:first-child {
    position: absolute;
    left: 0;
    bottom: 7px;
}
.sort-list-arrows .sort-item:last-child {
    position: absolute;
    left: 25px;
    top: 0;
}
.sort-list-string .sort-item {
    border-bottom: 1px dotted var(--brand-blue);
    margin-right: 32px;
}

.sort-list-string .sort-item:active {
    border-bottom: 1px solid transparent;
}

.sort-list-string .sort-item.active-sort {
    border-bottom: 1px solid transparent;
}

.sort-item.active-sort .sort-by {
    opacity: 1;
    color: var(--brand-blue);
}

.sort-by {
    text-decoration: none;
    color: var(--black);
    opacity: 0.3;
    font-size: 12px;
    line-height: 12px;
    font-weight: 400;
}

.sort-by:hover {
    color: var(--brand-blue);
    opacity: 1;
    transition: 0.2s ease-in-out;
}

.sort-by:active {
    color: var(--black);
    opacity: 1;
}

.sort-up {
    text-decoration: none;
    color: var(--black);
    width: 10px;
    height: 22px;
    box-sizing: border-box;
    opacity: 0.3;
    font-size: 0;
    border: 5px solid transparent;
    border-bottom: 11px solid var(--black);
}

.sort-down {
    text-decoration: none;
    color: var(--black);
    width: 10px;
    height: 22px;
    box-sizing: border-box;
    opacity: 0.3;
    font-size: 0;
    border: 5px solid transparent;
    border-top: 11px solid var(--black);
}

.sort-up:hover,
.sort-down:hover {
    opacity: 1;
    transition: 0.2s ease-in-out;
}

.sort-up:active {
    border-bottom: 11px solid var(--brand-blue);
}

.sort-down:active {
    border-top: 11px solid var(--brand-blue);
}

.sort-down.active-arrow {
    border-top: 11px solid var(--brand-blue);
    opacity: 1;
}

.sort-up.active-arrow {
    border-bottom: 11px solid var(--brand-blue);
    opacity: 1;
}

.hotel-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.hotel-item {
    margin: 30px 72px;
    display: flex;
    justify-content: space-between;
    align-items: space-between;
}

.hotel-info {
    margin-left: 30px;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 300px;
}
.hotel-name {
    margin: 0;
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
}

.name-wrap {
    display: flex;
    justify-content: space-between;
}

.hotel-name:hover {
    color: var(--brand-blue);
    transition: color 0.3s ease-in-out;
    cursor: pointer;
}

.hotel-name:active {
    color: var(--black);
    opacity: 0.3;
}

.hotel-type,
.hotel-price {
    color: var(--dark-grey);
    font-weight: 400;
}

.hotel-price {
    margin-right: 117px;
}

.buttons-wrap {
    display: flex;
}

.more-info {
    margin-right: 6px;
    height: 27px;
    min-width: 110px;
    font-weight: 700;
    text-align: center;
    line-height: 27px;
    color: var(--white);
    text-decoration: none;
    background-color: var(--brand-blue);
}

.more-info:hover {
    background-color: var(--brand-blue-hover);
    transition: 0.2s ease-in-out;
}

.more-info:active {
    background-color: var(--brand-blue-active);
    color: var(--white-on-click);
}

.book {
    height: 27px;
    min-width: 142px;
    font-weight: 700;
    text-align: center;
    line-height: 27px;
    color: var(--white);
    text-decoration: none;
    background-color: var(--brand-brown); 
}

.book:hover {
    background-color: var(--brand-brown-hover);
    transition: 0.2s ease-in-out;
}

.book:active {
    background-color: var(--brand-brown-active);
    color: var(--white-on-click);
}

.hotel-rate {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.stars {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.rating {
    color: var(--rating-grey);
    background-color: var(--input-grey);
    text-align: center;
    line-height: 27px;
    font-weight: 400;
    height: 27px;
    min-width: 110px;
}

/* ----------------------------Вторая страница---------------------------------- */

/* Футер */

.main-footer {
    background-color: var(--footer-background);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contacts {
    margin-left: 120px;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    font-weight: 700;
}

.hashtag {
    display: block;
}

.phone {
    display: block;
    color: var(--black);
    text-decoration: none;
}

.social-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.social-link {
    margin: 3px;
    display: block;
    font-size: 0;
    width: 46px;
    height: 48px;
    background-color: var(--brand-blue);
}

.social-link:hover {
    background-color: var(--brand-blue-hover);
    transition: 0.3s ease-in-out;
}

.social-link:active {
    background-color: var(--brand-blue-active);
}

.twitter {
    background-image: url("../img/twitter.svg");
    background-repeat: no-repeat;
    background-position: center center;
}

.facebook {
    background-image: url("../img/facebook.svg");
    background-repeat: no-repeat;
    background-position: center center;
}

.youtube {
    background-image: url("../img/youtube.svg");
    background-repeat: no-repeat;
    background-position: center center;
}

.twitter:active {
    background-image: url(../img/twitter-active.svg);
}

.facebook:active {
    background-image: url(../img/facebook-active.svg);
}

.youtube:active {
    background-image: url(../img/youtube-active.svg);
}

.copyright {
    margin-right: 138px;
    display: flex;
    align-items: center;
}

.made-by {
    margin-right: 8px;
    display: block;
    line-height: 26px;
    text-align: center;
}

.htmlacademy {
    display: block;
    font-size: 0;
    width: 115px;
    height: 41px;
    background-image: url("../img/logo-htmlacademy.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.htmlacademy:hover {
    background-image: url("../img/logo-htmlacademy-blue.svg");
    transition: 0.3s ease-in-out;
}

.htmlacademy:active {
    background-image: url("../img/logo-htmlacademy-grey.svg");
}